In [ ]:
# https://colab.research.google.com/drive/13XR7_9UsEH0A1kI9yjs0YDiXxzvJqxY8?usp=sharing

In [4]:
num = 2
start = 1
end = 50

divisible_by_num = [n for n in range(start, end + 1) if n % num == 0]
print(divisible_by_num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [ ]:
import pandas as pd

sleep_df = pd.read_csv('../data/Iris Dataset/Iris.csv')

print(sleep_df.head(5))
print(sleep_df.columns)
print(sleep_df.dtypes)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')
Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [14]:
sleep_df = pd.read_csv('../data/How Much Sleep Do Americans/Time Americans Spend Sleeping.csv')

sleep_df.head(5)
sleep_df.columns

Index(['index', 'Year', 'Period', 'Avg hrs per day sleeping', 'Standard Error',
       'Type of Days', 'Age Group', 'Activity', 'Sex'],
      dtype='object')

In [15]:
mean = sleep_df['Avg hrs per day sleeping'].mean()
median = sleep_df['Avg hrs per day sleeping'].median()
std = sleep_df['Avg hrs per day sleeping'].std()

print("Mean:", mean)
print("Median:", median)
print("Standard deviation:", std)

Mean: 8.806867724867725
Median: 8.81
Standard deviation: 0.545001291074517

In [34]:
titanic_df = pd.read_csv('../data/Titanic/train.csv')

# titanic_df.info()

# titanic_df.head(10)

titanic_df['Sex'] = titanic_df['Sex'].map({'female': 0, 'male': 1})

titanic_df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",1,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",1,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",1,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",0,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",0,14.0,1,0,237736,30.0708,NaN,C